body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.webp'); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}